/* BASE STYLES ------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black-color: #111;
    --white-color: white;
    --red-color: #DA3838;
    --grey-color: var(--dark-grey-color);
    --dark-grey-color: #222;
    --headline-size: 4em;
    --title-size: 5.75em;
    --small-size: 1.25em;
    --medium-size:2em;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0;
}

body {
    color: var(--white-color);
    background: var(--black-color);
    font-family: 'Inter', sans-serif;
    font-weight:300;
}

.cursor {
    width:1vw;
    height:1vw;
    background: var(--red-color);
    border-radius:1000px;
    position:absolute;
    z-index:10;
    top:0;
    left:0;
    transform:translate(-50%, -50%);
    pointer-events: none;
    transition:opacity 0.2s ease-in-out, background 0.2s ease-out, width 0.3s ease, height 0.3s ease;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    display:none;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

html.lenis {
    height: auto;
}
  
.lenis.lenis-smooth {
scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
overscroll-behavior: contain;
}

.lenis.lenis-stopped {
overflow: hidden;
}

/* TEXT STYLES ------------------------ */

h1 {
    font-weight: 400;
    font-size: var(--headline-size);
    line-height:1;
    letter-spacing: -2px;
}

.headline h1 {
    width:75%;
}

.hero h1 {
    font-weight: 400;
    font-size: var(--title-size);
    line-height:1;
}

 p {
    letter-spacing: -1px;
 }

/* BUTTON STYLES ------------------------ */

.round-button {
    text-decoration: none;
    color: white;
    font-size: var(--small-size);
    font-weight: 400;
    color: var(--black-color);
    display: inline-block;
    padding: 2vh 2vw;
    background: var(--white-color);
    border-radius: 1000px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    height:max-content;
}

.round-button .button-info {
    display:flex;
    gap:1vw;
}

.round-button::before {
    content:'';
    position: absolute;
    background-color: var(--red-color);
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    top: 0;
    left: 0;
    z-index: -1;
    transition: transform 0.3s cubic-bezier(.72,.01,.32,1.01);
    transform-origin: bottom;
}

.round-button:hover::before {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.3s cubic-bezier(.72,.01,.32,1.01);
}

.button-text-container, .button-icon-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: var(--small-size);
}

.button-icon-container .button-icon {
    height: var(--small-size);
    padding: 0.25em 0;
    transition: transform 0.3s cubic-bezier(.72,.01,.32,1.01);
}

.diagonal .button-icon:nth-child(2) {
    transform:translate(-1.25em, 0);
}

.round-button:hover > .button-info .diagonal .button-icon:nth-child(1) {
    transform:translate(var(--small-size), calc(var(--small-size) * -1));
    transition: transform 0.3s cubic-bezier(.72,.01,.32,1.01);
}

.round-button:hover > .button-info .diagonal .button-icon:nth-child(2) {
    transform:translate(0, calc(var(--small-size) * -1));
    transition: transform 0.3s cubic-bezier(.72,.01,.32,1.01);
}

.button-text-container p {
    transition: transform 0.3s ease-out;
    transition-delay: 0.05s;
}

.button-text-container p:nth-child(2) {
    color: var(--white-color);
}

.round-button:hover >  .button-info p {
    transform: translateY(calc(var(--small-size) * -1));
    transition: transform 0.3s ease-in-out;
}

.round-button .left .button-icon:nth-child(2) {
    transform: translate(var(--small-size), calc(var(--small-size) * -1));
}

.round-button:hover > .button-info .left .button-icon:nth-child(1) {
    transform:translateX(calc(var(--small-size) * -1));
    transition: transform 0.3s cubic-bezier(.72,.01,.32,1.01);
}

.round-button:hover > .button-info .left .button-icon:nth-child(2), .round-button:hover > .button-info .right .button-icon:nth-child(2) {
    transform:translate(0, calc(var(--small-size) * -1));
    transition: transform 0.3s cubic-bezier(.72,.01,.32,1.01);
}

.round-button .right .button-icon:nth-child(2) {
    transform: translate(calc(var(--small-size) * -1), calc(var(--small-size) * -1));
}

.round-button:hover > .button-info .right .button-icon:nth-child(1) {
    transform:translateX(var(--small-size));
    transition: transform 0.3s cubic-bezier(.72,.01,.32,1.01);
}

.underline-button {
    text-decoration: none;
    font-size: var(--small-size);
    color:white;
    position:relative;
}

.underline-button::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--white-color);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s cubic-bezier(.72,.01,.32,1.01);
}

.underline-button:hover::before {
    transform: scaleX(1);
    transition: transform 0.3s cubic-bezier(.72,.01,.32,1.01);
    transform-origin: left;
}

.subtitle {
    font-weight: 300;
    font-size: var(--medium-size);
    line-height:1;
    width: 20vw;
}

.headline {
    width: 100%;
    padding: 5vh 2.5vw;
    border-bottom: 2px solid var(--grey-color);
    display: flex;
}

.hero .headline {
    padding-top:20vh;
}

.subtitle-container {
    display: flex;
}

.subtitle-container .dot {
    margin-top: 1vh;
}

.dot {
    width: 0.75vw;
    height: 0.75vw;
    margin-top: 3vh;
    margin-right: 2vw;
    border-radius: 100%;
    background-color: var(--red-color);
    transition: transform 0.3s cubic-bezier(.72,.01,.32,1.01);
}

.headline:hover > .dot {
    transform: scale(1.5);
    transition: transform 0.3s cubic-bezier(.72,.01,.32,1.01);
}

.interactives {
    display: flex;
    gap: 1vw;
    padding: 3vh 2.5vw;
}

.interactives .slideshow, .video {
    width:40vw;
    height:45vh;
    background: var(--dark-grey-color);
    border-radius:1.5vw;
    position:relative;
    overflow:hidden;
}

.slideshow .controls {
    position: absolute;
    bottom: 1.5vh;
    left:0;
    width:100%;
    padding: 0 1vw;
    display: flex;
    justify-content: space-between;
}

.tile {
    background: var(--dark-grey-color);
    border-radius:100%;
    box-sizing: border-box;
    margin:7.5px;
    width:5px;
    height: 5px;
    transition:transform 0.3s ease;
}

.dot-lattice {
    height:20vh;
    width:25%;
}

.dot-effect-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
}

.hero .slideshow .indicator {
    display:flex;
    gap:1vw;
    position:absolute;
    top:2vh;
    left:1vw;
    z-index:3;
}

.hero .slideshow .indicator-dot {
    width:1vw;
    height:1vw;
    background:white;
    border-radius:100%;
    transition: background 0.3s ease;
}

.hero .slideshow .red-indicator {
    background:var(--red-color);
    transition: background 0.3s ease;
}

.slideshow .activated {
    background:var(--red-color);
    transition: background 0.3s ease;
}

.slideshow .image-container {
    width:300%;
    height:100%;
    display:flex;
}

.slideshow .image {
    width:calc(300% / 3);
    height:100%;
    transition:transform 1s cubic-bezier(.2,.69,.39,1), background-position 1s cubic-bezier(.2,.69,.39,1);
}

.image-container .image:nth-child(1) {
    background:url('slideshow-img-1.jpg');
    background-size:120%;
    background-position:50% 50%;
    background-repeat:no-repeat;
}

.image-container .image:nth-child(2) {
    background:url('slideshow-img-2.jpg');
    background-size:120%;
    background-position:50% 50%;
    background-repeat:no-repeat;
}

.image-container .image:nth-child(3) {
    background:url('slideshow-img-3.jpg');
    background-size:120%;
    background-position:50% 50%;
    background-repeat:no-repeat;
}

.hero-card {
    width:25vw;
    height:40vh;
    background:var(--dark-grey-color);
    border-radius:1.5vw;
}

/* Projects Slideshow stuff */

.projects-slideshow {
    display:flex;
    gap:2vw;
    padding:0 3vw;
    width:100%;
}

.projects-container {
    position:relative;
    height:90vh;
    width:80vw;
}

.projects-container .text {
    display:flex;
    width:100%;
    justify-content: space-between;
    margin:3vh 0;
}

.projects-slideshow .controls {
    display: flex;
    flex-direction: column;
}

.project img {
    height:70vh;
    object-fit: cover;
    border-radius: 1vw;
    opacity: 0;
    transform: translateY(5vh);
    transition: opacity 0.3s ease, transform 0.5s ease-in;
}

.project .wide-image {
    width:50vw;
}

.project .vertical-image {
    width:30vw;
    transition-delay:0.1s;
}

.project .images {
    display:flex;
    gap:1vw;
}

.project {
    width:80vw;
    position: absolute;
    top: 0;
    left: 0;
}

.projects .controls, .sidebar {
    display: flex;
    flex-direction: column;
    gap:1.5vh;
}

.projects .controls {
    margin-top:10vh;
}

.tag {
    display: flex;
    gap:0.5vw;
    margin-top:3vh;
}

.projects .sidebar .dot {
    margin:0;
    margin-top:0.5vh;
}

.projects-container h1 {
    font-size:var(--medium-size);
}

.projects-container .subtitle, .sidebar .tag-text {
    font-size:var(--small-size);
    margin-bottom:1vh;
}

.sidebar .tag .tag-text, .projects-container .text-container > div {
    overflow: hidden;
}

.sidebar .tag p, .text-container h1, .text-container p {
    line-height:1.2;
    transition: transform 0.5s ease;
}

.text-container h1 {
    transition-delay:0.1s;
}

.projects-slideshow .active img {
    transition: transform 1s cubic-bezier(.2,.69,.39,1), opacity 0.3s ease-in-out;
    opacity: 1;
    transform: translateY(0);
}

.projects-container .active .vertical-image {
    transition-delay:0.1s;
}

@media (pointer:none), (pointer:coarse) {
    .dot-lattice {
        display:none;
    }
}

@media screen and (max-width:1000px) {
    :root {
        --headline-size: 2em;
        --title-size: 3em;
        --small-size: 1em;
        --medium-size:1.5em;
    }

    .hero .interactives {
        flex-direction: column;
        gap:1.5vh;
    }

    .hero .interactives > div, .hero h1 {
        width:100%;
    }

    .hero .interactives > .slideshow, .hero .interactives > .video {
        height:25vh;
    }

    .hero .interactives .subtitle-container p {
        width:80%;
        padding-bottom:1.5vh;
    }

    .hero .headline {
        padding-top:15vh;
    }

    .hero .slideshow, .hero .video {
        border-radius:3vw;
    }

    .hero .slideshow .indicator-dot {
        width:3vw;
        height:3vw;
    }

    .round-button {
        padding:2vh 5vw;
    }

    .round-button p {
        line-height:0.9;
    }

    .project .images {
        flex-direction: column;
    }

    .project .images img {
        width:100%;
        height:30vh;
        border-radius: 3vw;
    }

    .projects-container, .project {
        width:100%;
    }

    .projects-slideshow {
        flex-direction: column;
    }

    .projects-slideshow .sidebar, .projects-slideshow .sidebar .controls {
        flex-direction: row;
        margin:0;
        align-items:center;
    }

    .projects-slideshow .sidebar {
        justify-content: space-between;
        margin-top:3vh;
    }

    .projects-slideshow .sidebar .tag {
        margin-top:0;
    }

    .projects-container .text .text-container h1, .projects-container .text .text-container .subtitle {
        width:100%;
    }

    .projects-container .text {
        flex-direction: column;
        gap:1.5vh;
    }

    .projects-container .text .round-button {
        width:max-content;
    }

    .project .vertical-image {
        display:none;
    }

    .projects-container {
        height:50vh;
    }
}