/* BASE STYLES ------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black-color: #111;
    --white-color: white;
    --red-color: #DA3838;
    --grey-color: var(--dark-grey-color);
    --dark-grey-color: #222;
    --headline-size: 4em;
    --title-size: 5.75em;
    --small-size: 1.25em;
    --medium-size:2.25em;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0;
}

body {
    color: var(--white-color);
    background: var(--black-color);
    font-family: 'Inter', sans-serif;
    font-weight:300;
}

.cursor {
    width:1vw;
    height:1vw;
    background: var(--red-color);
    border-radius:1000px;
    position:absolute;
    z-index:10;
    top:0;
    left:0;
    transform:translate(-50%, -50%);
    pointer-events: none;
    transition:opacity 0.2s ease-in-out, background 0.2s ease-out, width 0.3s ease, height 0.3s ease;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

html.lenis {
    height: auto;
  }
  
.lenis.lenis-smooth {
scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
overscroll-behavior: contain;
}

.lenis.lenis-stopped {
overflow: hidden;
}

/* TEXT STYLES ------------------------ */

h1 {
    font-weight: 400;
    font-size: var(--headline-size);
    line-height:1;
    letter-spacing: -2px;
}

.headline h1 {
    width:75%;
}

.hero h1 {
    font-weight: 400;
    font-size: var(--title-size);
    line-height:1;
}

 p {
    letter-spacing: -1px;
 }

/* BUTTON STYLES ------------------------ */

.round-button {
    text-decoration: none;
    color: white;
    font-size: var(--small-size);
    font-weight: 400;
    color: var(--black-color);
    display: inline-block;
    padding: 2vh 3vw;
    background: var(--white-color);
    border-radius: 1000px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.round-button .button-info {
    display:flex;
    gap:1vw;
}

.round-button::before {
    content:'';
    position: absolute;
    background-color: var(--red-color);
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    top: 0;
    left: 0;
    z-index: -1;
    transition: transform 0.3s cubic-bezier(.72,.01,.32,1.01);
    transform-origin: bottom;
}

.round-button:hover::before {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.3s cubic-bezier(.72,.01,.32,1.01);
}

.button-text-container, .button-icon-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: var(--small-size);
}

.button-icon-container .button-icon {
    height: var(--small-size);
    padding: 0.25em 0;
    transition: transform 0.3s cubic-bezier(.72,.01,.32,1.01);
}

.diagonal .button-icon:nth-child(2) {
    transform:translate(-1.25em, 0);
}

.round-button:hover > .button-info .diagonal .button-icon:nth-child(1) {
    transform:translate(var(--small-size), calc(var(--small-size) * -1));
    transition: transform 0.3s cubic-bezier(.72,.01,.32,1.01);
}

.round-button:hover > .button-info .diagonal .button-icon:nth-child(2) {
    transform:translate(0, calc(var(--small-size) * -1));
    transition: transform 0.3s cubic-bezier(.72,.01,.32,1.01);
}

.button-text-container p {
    transition: transform 0.3s ease-out;
    transition-delay: 0.05s;
}

.button-text-container p:nth-child(2) {
    color: var(--white-color);
}

.round-button:hover >  .button-info p {
    transform: translateY(calc(var(--small-size) * -1));
    transition: transform 0.3s ease-in-out;
}

.round-button .left .button-icon:nth-child(2) {
    transform: translate(var(--small-size), calc(var(--small-size) * -1));
}

.round-button:hover > .button-info .left .button-icon:nth-child(1) {
    transform:translateX(calc(var(--small-size) * -1));
    transition: transform 0.3s cubic-bezier(.72,.01,.32,1.01);
}

.round-button:hover > .button-info .left .button-icon:nth-child(2), .round-button:hover > .button-info .right .button-icon:nth-child(2) {
    transform:translate(0, calc(var(--small-size) * -1));
    transition: transform 0.3s cubic-bezier(.72,.01,.32,1.01);
}

.round-button .right .button-icon:nth-child(2) {
    transform: translate(calc(var(--small-size) * -1), calc(var(--small-size) * -1));
}

.round-button:hover > .button-info .right .button-icon:nth-child(1) {
    transform:translateX(var(--small-size));
    transition: transform 0.3s cubic-bezier(.72,.01,.32,1.01);
}

.underline-button {
    text-decoration: none;
    font-size: var(--small-size);
    color:white;
    position:relative;
}

.underline-button::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--white-color);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s cubic-bezier(.72,.01,.32,1.01);
}

.underline-button:hover::before {
    transform: scaleX(1);
    transition: transform 0.3s cubic-bezier(.72,.01,.32,1.01);
    transform-origin: left;
}

.subtitle {
    font-weight: 300;
    font-size: var(--medium-size);
    line-height:1;
    width: 20vw;
}

.headline {
    width: 100%;
    padding: 5vh 2.5vw;
    border-bottom: 2px solid var(--grey-color);
    display: flex;
}

.hero .headline {
    padding-top:20vh;
}

.subtitle-container {
    display: flex;
}

.subtitle-container .dot {
    margin-top: 1vh;
}

.dot {
    width: 0.75vw;
    height: 0.75vw;
    margin-top: 3vh;
    margin-right: 2vw;
    border-radius: 100%;
    background-color: var(--red-color);
    transition: transform 0.3s cubic-bezier(.72,.01,.32,1.01);
}

.headline:hover > .dot {
    transform: scale(1.5);
    transition: transform 0.3s cubic-bezier(.72,.01,.32,1.01);
}

.interactives {
    display: flex;
    gap: 1vw;
    padding: 3vh 2.5vw;
}

.interactives .slideshow, .video {
    width:40vw;
    height:40vh;
    background: var(--dark-grey-color);
    border-radius:1.5vw;
    position:relative;
}

.slideshow .controls {
    position: absolute;
    bottom: 1.5vh;
    left:0;
    width:100%;
    padding: 0 1vw;
    display: flex;
    justify-content: space-between;
}

.tile {
    background: var(--dark-grey-color);
    border-radius:100%;
    box-sizing: border-box;
    margin:7.5px;
    width:5px;
    height: 5px;
    transition:transform 0.3s ease;
}

.dot-lattice {
    height:20vh;
    width:25%;
}

.dot-effect-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
}