.navbar {
    position:fixed;
    width:100%;
    top:0;
    left:0;
    z-index:5;
    background:var(--black-color);
    border-bottom:2px solid var(--grey-color);
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5vw;
    height:10vh;
}

.navbar > .round-button {
    padding: 1.5vh 1.5vw;
}

.navbar img {
    height:80%;
}

.menu {
    position:fixed;
    z-index:4;
    width:100%;
    height:90vh;
    top:10vh;
    left:0;
    background:var(--black-color);
    transform:scaleY(0);
    pointer-events: none;
    transition:transform 0.5s ease;
    transform-origin:bottom;
    transition-delay:0.7s;
}


.menu.active {
    pointer-events: all;
    transform:scaleY(1);
    transition:transform 0.5s ease;
    transform-origin: top;
}

.menu .categories {
    display:flex;
    width:100%;
    padding:0 3vw;
    padding-top:7vh;
    padding-bottom:5vh;
    border-bottom:2px solid var(--black-color);
    transition: border-color 0.3s ease-in-out;
    gap:5vw;
}

.menu .categories a {
    font-size:var(--medium-size);
    opacity: 1;
    pointer-events:none;
    overflow:hidden;
}

.menu .categories a p {
    transform:translateY(100%);
    transition:transform 0.5s ease-in;
    transition-delay: calc(var(--categories-number) * 100ms);
}

.menu .categories a:before, .extra-links a:before {
    opacity:0;
}

.menu.active .categories a {
    pointer-events:all;
}

.menu.active .categories a p {
    transform:translateY(0%);
    transition:transform 0.5s cubic-bezier(.2,.69,.39,1);
    transition-delay: calc((var(--categories-number) * 100ms) + 0.3s);
}

.menu.active .categories a:before, .active .extra-links a:before {
    opacity:1;
    transition:opacity 0.3s ease-in-out, transform 0.3s ease;
}

.menu .sub-options {
    width:100%;
    padding:0 3vw;
    position:relative;
    border-bottom:2px solid var(--black-color);
    transition: border-color 0.3s ease-in-out;
    height:60%;
    margin-top:5vh;
}

.active .categories, .active .sub-options {
    border-color: var(--grey-color);
    transition: border-color 0.3s ease-in-out;
    transition-delay:0.3s;
}

.menu .sub-options > div > .round-button {
    position:absolute;
    bottom:3vh;
    right:0;
}

.menu .sub-options > div {
    display:flex;
    gap:1vw;
    position: absolute;
    top:0;
    left:3vw;
    pointer-events:none;
    height:100%;
}

.menu .sub-options > div > div, .menu .sub-options > div > a {
    transform:translateY(3vh);
    opacity:0;
    transition:opacity 0.3s ease, transform 0.5s ease-in;
    transition-delay: calc(var(--nav-card-number) * 100ms);
}

.menu .sub-options > .options-activated {
    pointer-events: all;
}

.menu .sub-options > .options-activated > div, .menu .sub-options > .options-activated > a {
    transform: translateY(0);
    transition:transform 1s cubic-bezier(.2,.69,.39,1), opacity 0.3s ease-in-out;
    transition-delay: calc(var(--nav-card-number) * 100ms);
    opacity:1;
}

.menu .sub-options div .nav-card .image {
    background: url('srt-image.jpg');
    width:30vw;
    height:35vh;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    border-radius:1vw;
    position:relative;
}

.menu .sub-options .nav-card a {
    position:absolute;
    bottom:1vh;
    right:1vw;
}

.menu .info h2 {
    margin-top:1.5vh;
    font-size:var(--medium-size);
    font-weight:300;
}

.extra-links {
    width:100%;
    display:flex;
    padding: 0 3vw;
    margin-top:3vh;
    display:flex;
    justify-content: space-between;
    padding-right:5vw;
}

.extra-links > div {
    display:flex;
    gap:1vw;
}

.extra-links .social-button {
    height:6vh;
    width: 6vh;
    background:var(--grey-color);
    border-radius:0.5vw;
}

.extra-links a {
    opacity:0;
    transform:translateY(3vh);
    transition:opacity 0.3s ease, transform 0.5s ease-in;
}

.active .extra-links a {
    opacity:1;
    transform:translateY(0vh);
    transition:transform 1s cubic-bezier(.2,.69,.39,1), opacity 0.3s ease-in-out;
    transition-delay: calc((var(--links-number) * 100ms) + 0.3s);
}

.changing-text {
    transform:translateY(0%) !important;
    transition: transform 0.3s ease;
}

@media screen and (max-width:1000px) {
    .menu .sub-options > div {
        flex-direction: column;
        width:100%;
    }

    .menu .sub-options div .nav-card .image {
        width:100%;
        height:20vh;
    }

    .menu .sub-options div .nav-card:nth-child(3) {
        display:none;
    }

    .menu .sub-options {
        margin-top:3vh;
    }

    .navbar > .round-button {
        padding:1.5vh 3vw;
    }

    .navbar > .round-button p {
        line-height:1;
    }

    .navbar img {
        height:60%;
    }

    .navbar .contacts {
        flex-direction: column;
    }

    .navbar .extra-links {
        align-items: flex-end;
        margin-top:2vh;
    }

    .round-button {
        padding:2vh 5vw;
    }

    .menu .categories {
        padding-top:4vh;
        padding-bottom:3vh;
    }

    .menu .sub-options {
        height:67%;
    }

    .menu .sub-options > div {
        width: calc(100% - 6vw);
        gap:3vh;
    }

    .menu .sub-options div .nav-card .image {
        border-radius:3vw;
    }

    .menu .sub-options > div > .round-button {
        bottom:1.5vh;
    }
}